In [2]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier
import pandas as pd

In [3]:
data = pd.read_csv('titanic.csv')

In [4]:
df = data[['Pclass', 'Fare', 'Age', 'Sex']]
s = data['Survived']

In [5]:
df.head()

   Pclass     Fare   Age     Sex
0       3   7.2500  22.0    male
1       1  71.2833  38.0  female
2       3   7.9250  26.0  female
3       1  53.1000  35.0  female
4       3   8.0500  35.0    male

In [6]:
df.count()

Pclass    891
Fare      891
Age       714
Sex       891
dtype: int64

In [7]:
booleans = ~np.isnan(df['Age'])
df = df[booleans]
s = s[booleans]

In [8]:
df.count()

Pclass    714
Fare      714
Age       714
Sex       714
dtype: int64

In [9]:
s.count()

714

In [11]:
df.head()

   Pclass     Fare   Age     Sex
0       3   7.2500  22.0    male
1       1  71.2833  38.0  female
2       3   7.9250  26.0  female
3       1  53.1000  35.0  female
4       3   8.0500  35.0    male

In [12]:
s.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [13]:
df.Sex = np.where(df.Sex == 'male', 1, 0)

In [14]:
df.head()

   Pclass     Fare   Age  Sex
0       3   7.2500  22.0    1
1       1  71.2833  38.0    0
2       3   7.9250  26.0    0
3       1  53.1000  35.0    0
4       3   8.0500  35.0    1

In [15]:
clf = DecisionTreeClassifier(random_state=241)
clf.fit(df, s)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=241,
            splitter='best')

In [16]:
clf.feature_importances_

array([ 0.14000522,  0.30343647,  0.2560461 ,  0.30051221])

In [17]:
the_most_important_features = pd.Series(clf.feature_importances_, index=['Pclass', 'Fare', 'Age', 'Sex'])

In [18]:
the_most_important_features

Pclass    0.140005
Fare      0.303436
Age       0.256046
Sex       0.300512
dtype: float64

In [26]:
the_most_important_features = the_most_important_features.sort_values(ascending=False)[:2]

In [27]:
the_most_important_features

Fare    0.303436
Sex     0.300512
dtype: float64

In [28]:
type(the_most_important_features)

pandas.core.series.Series

In [31]:
result = the_most_important_features.index.tolist()

In [34]:
with open('answers/7.txt', 'w') as wf:
    wf.write(','.join(result))